#cart {
  position: absolute;
  width: 0px;
  height: 100%;
  background: white;
  z-index: 25;
  top: 0;
  right: 0;
  transition: width 250ms;
}

#cart.open {
  width: 600px;
}

#cart.openMobile {
  width: 100vw;
}

#cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 40px;
}

#cartHeaderAndContent {
  max-height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#cartHeaderAndContentHeader {
  max-height: 166px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cartTitle {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: var(--main-color-black);
  text-transform: capitalize;
}

#closeCartButton {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#cartContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#itemsCount {
  font-weight: 400;
}

#itemsCountDelete {
  font-weight: 300;
  background: none;
  opacity: 0.4;
}

#cartContentItems {
  max-height: 655px;
  overflow: auto;
  height: 100vh;
}

#cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color-black);
}

#cartTotalPriceContent {
  display: flex;
  flex-direction: column;
}

#priceText {
  font-size: 16px;
}

#cartTotalPrice {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

#createOrderButton {
  background: var(--main-color-green);
  width: 240px;
  height: 56px;
  border-radius: 4px;
}

.cartItem {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartItemImage {
  width: 96px;
  height: 96px;
  margin-top: -10px;
  margin-right: 8px;
}

.cartItemInfo {
  width: 165px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  color: var(--main-color-black);
  flex-grow: 1;
}

.cartItemName {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.cartItemPrice {
  font-weight: 600;
}

.cartItemCount {
  display: flex;
  align-items: center;
  gap: 19px;
  flex-grow: 1;
  max-width: 165px;
}

.cartItemCountMinus, .cartItemCountPlus {
  width: 40px;
  height: 24px;
  border-radius: 4px;
  background: var(--main-color-grey);
}

.cartItemCountMinus.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.cartItemCountMinus img, .cartItemCountPlus img {
  width: 16px;
}

.cartItemDelete {
  background: none;
  opacity: 0.2;
}

@media (max-width: 768px) {
  #openCart {
    display: none;
  }

  #openCartMobile {
    display: block;
    background: var(--main-color-green);
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  #cart {
    width: 0px;
    max-height: 100vh;
  }

  #createOrderButton {
    width: 140px;
  }

  .cartItemImage {
    width: 76px;
    height: 76px;
    margin-right: 11px;
  }

  .cartItem {
    padding-top: 8px;
  }

  .cartItemInfo {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .cartItemCount {
    max-width: 100px;
    margin-right: 8px;
  }
}