.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid red;
  /* height: 100%; */
}

/* ------------------- Header ------------------- */

.header {
  border: 1px solid red;
  height: 104px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logoContainer {
  max-width: 367px;
  flex-grow: 1;
  display: flex;
}

#logo {
  height: 26px;
  display: flex;
  flex-basis: 255px;
}

.textLinks {
  list-style-type: none;
  display: flex;
  gap: 24px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color-black);
  text-decoration: none;
  flex-grow: 1;
  max-width: 1066px;
}

.iconLinksContainer, .iconLinks {
  display: flex;
  gap: 24px;
}

.iconLinksContainer {
  flex-grow: 1;
  max-width: 224px;
}

#openCart {
  background: none;
}

.phoneNumberContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 263px;
  color: var(--main-color-black);
}

#phoneNumber {
  font-size: 16px;
  font-weight: 500;
}

#phoneText {
  opacity: 0.3;
  font-size: 14px;
}

/* ------------------- Slider ------------------- */

.sliderContainer {
  position: relative;
  overflow: hidden;
  /* height: 560px; */
  /* width: 100%; */
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.sliderButton {
  background: none;
}

.sliderSlide {
  width: 100%;
  height: 560px;
  flex-shrink: 0;
  object-fit: cover;
}

.pagination {
  background: rgba(0, 0, 0, 0.400);
  width: 124px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  opacity: 0.4;
  transition: opacity 0.3s;
  width: 6px;
}

.dot.active {
  opacity: 1;
}

.arrowContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 48px 0 48px;
}

.slideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.slideSideText {
  position: absolute;
  top: 6.3%;
  left: 9.5%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  letter-spacing: 0.06em;
  display: flex;
  gap: 8px;
  color: white;
  opacity: 0.4;
  text-transform: uppercase;
}

.slideTitle {
  font-size: 72px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.slideText {
  font-size: 16px;
  letter-spacing: 0.02em;
}

/* ------------------- Main ------------------- */

.main {
  border: 1px solid red;
  height: 100%;
  display: flex;
}

.mainContent {
  border: 1px solid blue;
  flex-grow: 1;
  max-width: 1510px;
  margin-bottom: 125px;
  position: relative;
}

/* ------------------- Main sidebar ------------------- */

.sidebar {
  border: 1px solid yellow;
  width: 367px;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.sidebarToggleContent {
  width: 165px;
  height: 150px;
  margin-left: 64px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarSliderItem {
  white-space: nowrap;
}

.toggle {
  display: none;
}

.toggleWord {
  padding-left: 48px;
  color: var(--main-color-black);
}

.toggle + label {
  position: relative;
  display: flex;
  width: 36px;
  height: 22px;
  background: var(--main-color-grey);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.toggle + label::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  background: black;
  transition: transform 0.3s ease;
}

.toggle:checked + label::before {
  transform: translateX(14px)
}

.toggle:checked + label {
  background: var(--main-color-green);
}

/* ------------------- Product Items ------------------- */

.mainSection {
  border: 1px solid blue;
  height: 100%;
  padding-top: 131px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
}

.productsCount {
  /* border: 1px solid red; */
  position: absolute;
  z-index: 10;
  top: 72px;
  left: 0;
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

#sortTextButton {
  border: 1px solid red;
  position: absolute;
  top: 72px;
  right: 64px;
  color: var(--main-color-black);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: none;
}

#sortTextButton > img {
  padding: 0.5px 0 0 3px;
}

.productCart {
  border: 1px solid red;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 278px;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.productImageContainer {
  /* border: 1px solid red; */
  margin: auto;
}

.productImage {
  /* border: 1px solid green; */
  margin-top: -16px;
}

.productInfo {
  /* border: 1px solid red; */
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--main-color-black);
}

.productName {
  /* border: 1px solid green; */
  font-weight: 300;
  letter-spacing: 0.02em;
  height: 46px;
}

.priceAndButton {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-weight: 600;
  margin: auto 0;
}

.addProduct {
  width: 80px;
  height: 32px;
  border-radius: 8px;
  background: var(--main-color-green);
  transition: transform 30ms;
}

.addProduct:active {
  background: var(--main-color-green-dark);
  transform: scale(0.96);
}

/* ------------------- Sort modal ------------------- */

#modalBackground {
  opacity: 0;
  /* display: none; */
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 15; */
  z-index: -1;
  transition: all 250ms;
}

#modal {
  border: 1px solid red;
  /* display: none; */
  position: absolute;
  width: 280px;
  height: 0;
  top: 72px;
  right: 22px;
  background: white;
  z-index: 20;
  overflow: hidden;
  transition: height 250ms;
}

#modalOptions li {
  height: 48px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
}

#modalOptions li:hover {
  background: var(--main-color-green);
}

/* ------------------- Cart ------------------- */

#cart {
  border: 1px solid black;
  position: absolute;
  /* width: 0; */ /* Вернуть обратно удалив 600px */
  width: 600px;
  height: 100%;
  background: white;
  z-index: 25;
  top: 0;
  right: 0;
  transition: width 250ms;
}

#cartContainer {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 1040px;
  padding: 40px;
}

#cartHeaderAndContent {
  border: 1px solid green;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#cartHeaderAndContentHeader {
  border: 1px solid blue;
  max-height: 166px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cartHeader {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cartTitle {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: var(--main-color-black);
  text-transform: capitalize;
}

#closeCartButton {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1); /* оставить только низ */
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#cartContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#itemsCount {
  font-weight: 400;
}

#itemsCountDelete {
  font-weight: 300;
  background: none;
  opacity: 0.4;
}

#cartContentItems {
  border: 1px solid violet;
  max-height: 655px;
  overflow: auto;
  height: 100vh;
}

#cartFooter {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color-black);
}

#cartTotalPriceContent {
  display: flex;
  flex-direction: column;
}

#priceText {
  font-size: 16px;
}

#cartTotalPrice {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

#createOrderButton {
  background: var(--main-color-green);
  width: 240px;
  height: 56px;
  border-radius: 4px;
}

.cartItem {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartItemImage {
  width: 96px;
  height: 96px;
  margin-top: -10px;
  margin-right: 8px;
}

.cartItemInfo {
  border: 1px solid red;
  width: 165px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  color: var(--main-color-black);
  flex-grow: 1;
}

.cartItemName {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.cartItemPrice {
  font-weight: 600;
}

.cartItemCount {
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 19px;
  flex-grow: 1;
  max-width: 165px;
}

.cartItemCountMinus, .cartItemCountPlus {
  width: 40px;
  height: 24px;
  border-radius: 4px;
}

.cartItemDelete {
  background: none;
}